<form method="post" action="/pirates">
  <label for="pirate[name]">
    Pirate name: <input type="text" name="pirate[name]" value="">
  </label>
  <label for="pirate[weight]">
    Pirate weight: <input type="text" name="pirate[weight]" value="">
  </label>
  <label for="pirate[height]">
    Pirate height: <input type="text" name="pirate[height]" value="">
  </label>
  <br>
  <br>
  <label for="ship1_name">
    Ship name: <input id="ship_name_1" type="text" name="pirate[ships][][name]" value="">
  </label>
  <label for="ship1_type">
    Ship type: <input id="ship_type_1" type="text" name="pirate[ships][][type]" value="">
  </label>
  <label for="ship1_name">
    Ship booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" value="">
  </label>
  <br>
  <br>
  <label for="ship2_name">
    Ship name: <input id="ship_name_2" type="text" name="pirate[ships][][name]" value="">
  </label>
  <label for="ship2_type">
    Ship type: <input id="ship_type_2" type="text" name="pirate[ships][][type]" value="">
  </label>
  <label for="ship2_name">
    Ship booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" value="">
  </label>
  <br>
  <br>
  <input type="submit" name="" value="Submit">
</form>
